<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Sectors</title>
    <style>
        #header {
            text-align: center;
            background-color: #212529;
            color: white;
            /* font-family: 'WindSong', cursive; */
            font-family: 'Indie Flower', cursive;
        }
        
         ::-webkit-scrollbar {
            display: none;
        }
    </style>
    <link rel="stylesheet" href="sector.css">
</head>

<body>

    <div class="row">

        <div class="container" style="padding-right: 0px;">

            <div id="header">
                <br>
                <h1>Government Schemes</h1>
                <br>
            </div>
        </div>
        <br>
        <h3>&nbsp;&nbsp; Welcome:
            <%= Name %>,
        </h3>
    </div>
    <br><br>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <img src="https://entrepreneurhandbook.co.uk/wp-content/uploads/2014/11/Group-of-entrepreneurs.jpg.webp" height="350px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;"><a href="/Entrepreneur.html" style="text-decoration: none; color:black">Entrepreneurship & Business</a></h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://cdn.narendramodi.in/cmsuploads/0.70829200_1535799900_womenempoweringatch.jpg" height="350px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;"><a href="/women.html" style="text-decoration: none; color:black">Women & Children</a></h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://images.hindustantimes.com/rf/image_size_960x540/HT/p2/2019/04/02/Pictures/making-agriculture-sustainable-agenda-profitable-should-top_44389510-5548-11e9-8bc0-bee180be535f.jpg" height="350px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;"><a href="/agriculture.html" style="text-decoration: none; color:black">Agriculture</a></h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://kj1bcdn.b-cdn.net/media/48379/health-insurance.png?format=webp&width=1080&upscale=false" height="350px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;"><a href="/health.html" style="text-decoration: none; color:black">Health</a></h5>
                </div>
            </div>
        </div>
    </div>








    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>

</html>